<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    </head>

    <body>
        <div style="background:#fff; font-family:Ubuntu,Helvetica,Arial,sans-serif; padding:0px 10px;">
            <table style="border:0px; margin:0 auto; max-width:600px; width:100%;">
                <tbody>
                    <tr>
                        <td style="background-color:#fff; text-align:center; padding:10px 5px;">
                            <img style="width: 500px" src="/logo.png"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="border:0px; background:#fff; width:100%; max-width:600px; margin:0 auto; padding:20px 0px;">
                                <tbody>
                                    <tr>
                                        <td style="background:#004267; color:#fff; padding:0px 30px; border-radius:6px 6px 0px 0px; font-size:18px;">
                                            <h3>Boas-Vindas ao Boilerplate</h3>
                                        </td>
                                    </tr>
                                    <tr style="color:#4a4a4a;">
                                        <td style="background:#fff; padding:20px; font-size:14px; font-weight:300; line-height:22px;">
                                            <p style="text-align:justify-all; color:#1B1C1B; font-weight: bold;">Prezado(a), {{ name }}.</p>
                                            <p style="text-align: justify; text-align-last: center;">
                                                <a>
                                                    É com grande satisfação que te damos as boas-vindas ao Boilerplate.
                                                    Estamos empolgados por tê-lo(a) a bordo, pronto(a) para explorar as
                                                    vastas possibilidades que nossa plataforma oferece. Para iniciar sua
                                                    jornada conosco, solicitamos que ative sua conta
                                                    clicando no link abaixo. Este simples passo garantirá que você tenha
                                                    acesso total a todos os recursos inovadores e experiências
                                                    personalizadas que preparamos para você.
                                                </a>
                                            </p>
                                            <br>
                                            <p style="text-align: center;">
                                                <a href="{{ link }}" style="background:#004267; color:#fff; border-radius:6px; font-size:14px; font-weight: bold; text-decoration: none; margin: auto; padding: 15px;"> Ativar </a>
                                            </p>
                                            <br>
                                            <p style="text-align: justify; text-align-last: center;">
                                                <a>
                                                    Seja bem-vindo(a) a um universo de oportunidades e descobertas
                                                    emocionantes. Estamos ansiosos para acompanhá-lo(a) em sua jornada
                                                    e proporcionar uma experiência única.
                                                </a>
                                                <br><br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="color: #898989;font-size: 12px;text-align: center;">
                                        <td style="padding: 0px; margin: 0px;">
                                            <p>Boilerplate &copy;</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>