<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    </head>

    <body>
        <div style="background:#fff; font-family:Ubuntu,Helvetica,Arial,sans-serif; padding:0px 10px;">
            <table style="border:0px; margin:0 auto; max-width:600px; width:100%;">
                <tbody>
                    <tr>
                        <td style="background-color:#fff; text-align:center; padding:10px 5px;">
                            <img style="width: 500px" src="/logo.png"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="border:0px; background:#fff; width:100%; max-width:600px; margin:0 auto; padding:20px 0px;">
                                <tbody>
                                    <tr>
                                        <td style="background:#004267; color:#fff; padding:0px 30px; border-radius:6px 6px 0px 0px; font-size:18px;">
                                            <h3>Atualização de senha - Boilerplate</h3>
                                        </td>
                                    </tr>
                                    <tr style="color:#4a4a4a;">
                                        <td style="background:#fff; padding:20px; font-size:14px; font-weight:300; line-height:22px;">
                                            <p style="text-align:justify-all; color:#1B1C1B; font-weight: bold;">Caro(a), {{ email }}.</p>
                                            <p style="text-align: justify; text-align-last: center;">
                                                <a>
                                                    Esperamos que este e-mail o(a) encontre bem. Para garantir a
                                                    segurança contínua de sua conta no Boilerplate,
                                                    implementamos uma medida preventiva sugerida por nossa equipe de
                                                    segurança. Por favor, tome um momento para atualizar sua senha,
                                                    fortalecendo assim a camada de proteção de sua conta. Para proceder com a
                                                    alteração de senha, clique no link abaixo e siga as instruções
                                                    fornecidas na página correspondente.
                                                </a>
                                            </p>
                                            <br>
                                            <p style="text-align: center;">
                                                <a href="{{ link }}" style="background:#004267; color:#fff; border-radius:6px; font-size:14px; font-weight: bold; text-decoration: none; margin: auto; padding: 15px;"> Atualizar </a>
                                            </p>
                                            <br>
                                            <p style="text-align: justify; text-align-last: center;">
                                                <a>
                                                    Ressaltamos a importância de escolher uma senha robusta e única,
                                                    combinando caracteres alfanuméricos, símbolos e letras maiúsculas,
                                                    a fim de garantir a máxima segurança.Agradecemos sua cooperação
                                                    para mantermos um ambiente digital seguro e protegido. Caso tenha
                                                    qualquer dúvida ou preocupação, não hesite em entrar em contato com
                                                    nossa equipe de suporte.
                                                </a>
                                                <br><br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="color: #898989;font-size: 12px;text-align: center;">
                                        <td style="padding: 0px; margin: 0px;">
                                            <p>Boilerplate &copy;</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>