DJANGO_SECRET_KEY=a*5*jhgt3b&bcbx+k1ph#=kcpl14^o*olz8jkedk!0c-szjuf=
DJANGO_DEBUG=True
BASE_URL=http://localhost:8000

USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_REGION=

USE_CACHE=False
API_CACHE_TIMEOUT=60
CACHE_HOST=redis://redis:6379/0
LAYER_HOST=redis

SITE_URL=https://www.boilerplatejwt.com.br

DEFAULT_FROM_EMAIL=contato@boilerplatejwt.com.br
EMAIL_HOST_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

DOMAIN=locahost:8080

# DATABASE_URL=postgres://postgres:postgres@localhost:5432/boilerplatejwt_db
DATABASE_URL=postgres://postgres:postgres@postgres:5432/boilerplatejwt_db

UPLOAD_TOKEN=
